.estilo1{

font-famil: arial;
background: #6633FF

}



.estilo2{

font-famil: calibri;
background: #6633CC

}



.estilo3{
font-famil: arial;
background: #996633



}




.estilo4{

font-famil: arial;
background: #FF66CC


}